<!DOCTYPE html>
<html>
<head>
  <title>TakeoutTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class= "navbar">
      <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>

      <li><%= link_to "Log In", "/auth/spotify" unless current_user %></li>
      <li><%= link_to "Log Out", logout_path, method: :delete if current_user%></li>
      <li><%= (current_user.nil?) ? ("Hello, Guest.") : ("Hello, #{current_user.name}") %></li>
    </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
